@import 'color.css';

.cta {
  color: #fff;
  background-color: var(--Dark-Desaturated-Blue);
  border-radius: 30px;
  border: none;
  padding: 5px 20px;
  width: 10rem;
  height: 2rem;
  font-size: 0.8rem;
  margin: 0 20px;
  cursor: pointer;
}

.toggleButton {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.toggleWrapper {
  width: 60px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--Light-Grayish-Blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 0 20px;
}
.toggleBall {
  content: '';
  background-color: #fff;
  position: absolute;
  transform: translateX(-15px);
  transition: transform 200ms linear;
  border-radius: 50px;
  width: 20px;
  height: 20px;
}
.toggleWrapper > input {
  visibility: hidden;
}
.toggleYearly:checked ~ .toggleBall {
  transform: translateX(15px);
  transition: transform 200ms linear;
}

.discountTag {
  background-color: var(--Light-Grayish-Red);
  color: var(--Light-Red);
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 800;
  font-size: 0.7rem;
}
/* .rangeWrapper {
  background-color: var(--Soft-Cyan);
  display: flex;
  justify-content: center;
  height: 1rem;
  width: 25rem;
  border-radius: 50px;
  position: relative;
} */
/* input[type='range'] {
  visibility: hidden;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  visibility: hidden;
}

.thumb {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--Strong-Cyan);
  display: grid;
  place-items: center;
  
} */
