@import 'color.css';
.cta {
  color: #fff;
  background-color: var(--Dark-Desaturated-Blue);
  border-radius: 30px;
  border: none;
  padding: 5px 20px;
  width: 10rem;
  height: 2rem;
  font-size: 0.8rem;
  cursor: pointer;
  margin: 0 0.8rem;
}
.toggleButton {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.toggleWrapper {
  width: 60px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--Light-Grayish-Blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 0 20px;
}
.toggleWrapper:focus-within {
  background-color: var(--Soft-Cyan);
}
.toggleBall {
  content: '';
  background-color: #fff;
  position: absolute;
  transform: translateX(-15px);
  transition: transform 200ms linear;
  border-radius: 50px;
  width: 20px;
  height: 20px;
}
input[type='radio'] {
  opacity: 0;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.toggleYearly:checked ~ .toggleBall {
  transform: translateX(15px);
  transition: transform 200ms linear;
}
.discountTag {
  background-color: var(--Light-Grayish-Red);
  color: var(--Light-Red);
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 800;
  font-size: 0.7rem;
}
.slider {
  display: grid;
  grid-template-areas: 'layer';
  align-items: center;
  padding: 0 3rem;
  width: 100%;
}
.sliderInput {
  opacity: 0;
  z-index: 2;
  grid-area: layer;
}
.sliderWrapper {
  background-color: var(--Light-Grayish-Blue);
  height: 0.5rem;
  border-radius: 30px;
  grid-area: layer;
  width: 100%;
  position: relative;
}
.sliderTrack {
  height: 0.5rem;
  border-radius: 30px;
  background-color: var(--Soft-Cyan);
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  grid-area: range;
}
.sliderThumb {
  display: grid;
  place-items: center;
  height: 3rem;
  width: 3rem;
  background-color: var(--Strong-Cyan);
  border-radius: 30px;
  position: absolute;
  top: -1.2rem;
  left: 50%;
  transform-origin: center;
  transform: translateX(-50%);
}
