@import 'reset.css';

body {
  min-height: 100vh;
  background-color: var(--Very-Pale-Blue);
  position: relative;
}
.main {
  display: flex;
  justify-content: center;
}
.header {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15rem;
  position: relative;
}
.card {
  width: 35rem;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-top: -2rem;
}
.card-content__top {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  place-items: center;
  row-gap: 2rem;
}
.card-content__toggleButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.card-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--Light-Grayish-Blue);
  padding: 0 30px;
}
.list {
  padding: 0;
}
.list > li {
  margin: 15px 0;
  color: var(--Grayish-Blue);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
